<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="955b8a3b-cdbb-48c8-b5a1-1ff7a78c69f7"
            Publisher="CN=Den"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>OutcoldSolutions.Presentation.Test</DisplayName>
    <PublisherDisplayName>Den</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="OutcoldSolutions.Presentation.Test.App">
        <VisualElements
            DisplayName="OutcoldSolutions.Presentation.Test"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="OutcoldSolutions.Presentation.Test"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>